<header>
    <h1> CMS Blog</h1>
    <nav>
        <ul>
            <li><a href="/"> Home</a></li>
            <li><a href ="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
    <div id="login-form">
        {{{login-form}}}<!--login form renders-->
    </div>
</header>