<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">.
        <meta name="viewport"
        content="width=device-width, intial-scale=1.0">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        {{>login}}

        <main>
            {{{body}}}
        </main>

        {{>footer}}
        <script src="/public/js/app.js"
    </body>









</html>